
### .gitignore

```plaintext
# Ignore data files
Twitter_Data.csv
rating.csv
train.jsonl
training.csv

# Ignore compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
